<div class="flex flex-col gap-4">
  <div>
    <h4 class="font-bold text-xl font-sans">Welcome back !</h4>
    <p class="text-slate-600">Please enter your credentials to procede.</p>
  </div>
  <form class="flex flex-col w-full gap-4">
    <input class="w-full" hlmInput type="email" placeholder="Email">
    <input class="w-full" hlmInput placeholder="Password">
    <div>
      <button class="w-full" hlmBtn>Login</button>
      <button class="p-0 h-0 text-xs" hlmBtn variant="link">Unable to login ?</button>
    </div>
  </form>
</div>